.web__article
    padding-top: 4em
    max-width: 600px
    margin: auto

    p
        font-size: 1.2em
        font-weight: 200
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        animation: fadeIn 0.9s ease 1 normal forwards

.web__h1
    text-align: center
    font-size: 4em
    font-family: 'Poppins'
    font-weight: 800
    color: #2f2042
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    letter-spacing: 0.0em
.--yellow
    color: #f3c41a
.web__list
    border-top: 5px solid #2F2042

    & li
        border-bottom: 3px solid #2F2042
        height: 2em

        &:hover
            cursor: pointer
            margin-left: 0.3em
            transition: 0.2s eas
    &--left
        display: inline
        font-size: 1.3em
        font-family: 'Poppins'
        font-weight: 600
        color: #2f2042
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale

    &--right
        font-weight: 200
        margin: 0
        float: right
