.about__article
    text-align: center
    // height: calc( 100vh - 80px )
    height: calc(86vh - 40px)
    padding-top: 3em
    max-width: 1100px
    margin: auto

    p
        font-family: "Poppins"
        font-size: 1.1rem
        font-weight: 200
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        animation: fadeIn 0.9s ease 1 normal forwards
        margin-bottom: 2em
    & .about__links
        font-size: 1.4em
        margin: 1em
        font-weight: 600
        color: #2f2042
        &:hover
            color: #fbd277

.about__h1
    font-size: 4em
    font-family: 'Poppins'
    font-weight: 800
    color: #2f2042
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    letter-spacing: 0.0em
.--yellow
    color: #fbd277

.about__img
    width: 12rem
    min-width: 180px
    margin-bottom: 2em

// iPad text breakpoint    
@media (max-width: 1390px)
    .about__article
        padding: 30px
        p
            font-size: 0.9rem

@media (max-width: 650px)
    .about__article
        padding: 20px
        overflow: scroll
        p
            font-size: 0.9rem

    .about__img
        width: 10px
        min-width: 130px
        margin-bottom: 1em
