.quiz__container
    margin-top: 8em
    padding-top: 1.5em
    text-align: center
    height: 100%
    width: 100%
    background-color: #f9f9f9
    //background: linear-gradient(to top, #720dc6 0%, #6320c8 100%)
    justify-items: center
    border-radius: 20px

    &--active
        position: absolute
        top: 0
        left: 0
        margin: 0
.quiz__bg
    grid-column: 1 / 4
    &--hide
        display: none

.quiz__logo
    max-width: 500px
    min-width: 200px
    grid-column: 2 / 3
    border-radius: 0 !important
.quiz__score
    font-size: 1em
    &--yellow
        font-size: 1em
        color: #720dc6
