.QR__card__container {
  display: flex;
  position: relative;
  top: -2em;
  height: 70vh;
  padding: 4em 0 0 3em;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.QR__card__container::-webkit-scrollbar{
  width: 0px;
}
.QR__loader {
  display: flex;
  height: 70vh;
  padding: 0 0 0 3em;
  justify-content: center;
}
.QR__content--right {
  margin-left: 2em;
}
.QR__card--expanded {
  display: flex;
  max-height: 80%;
  margin-left: 4em;
  max-width: 700px;
  margin-bottom: 2em;
  padding: 1em 1em 1em 1em;
  z-index: 1000;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 1.5em 2.5em -0.5em rgba(0, 0, 0, 0.2);
}
.QR__card--link {
  width: 60vw;
}
.QR__card__h1 {
  color: #3b3d45f8;
}
.QR__card__question {
  font-family: inherit;
  font-weight: 500;
  color: #252525;
  letter-spacing: 0.5px;
  margin-bottom: 0.4em;
  margin-top: 0.6em;
}
.QR__card__description {
  font-weight: 400;
  color: #3b3d45;
}
.span--bold {
  font-weight: 700;
  color: #414249f8;
}
.QR__newCard {
  position: absolute;
  display: block;
  font-weight: 700;
  left: calc(50vw );
  top: 0;
  width: 30px;
  height: 15px;
  padding: 1em;
  background-color: #f8c630;
  border-radius: 15px;
}

.circle-plus {
  position: relative;
  display: inline;
  top: -1.7em;
  left: -0.8em;
  height: 2em;
  width: 2em;
  font-size: 0.7em /*Will change icon size*/;
}
.circle-plus .circle .horizontal {
  position: absolute;
  background-color: #ffffff;
  border-radius: 9px;
  width: 2.4em;
  height: 0.5em;
  top: 1.98em;
  left: 1.05em;
}
.circle-plus .circle .vertical {
  position: absolute;
  border-radius: 9px;
  background-color: #ffffff;
  width: 0.5em;
  height: 2.4em;
  top: 1.05em;
  left: 2.02em;
}
