.calendar__wrapper {
  margin-top: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.custom-calendar {
  box-shadow: none;
  background: none !important;
  font-size: 0.55em !important; /* Change size of calendar*/
}

.custom-today-day {
  color: #e67e22 !important;
  border: 1px solid #e67e22 !important;
}

.custom-today-day::after {
  visibility: hidden; /* hide small border under the text */
}
