.form {
  text-align: center;
}
.form__header {
  padding-top: 1.4em;
}
.form__menu {
  float: right;
}
.form__logo {
  width: 130px;
}
.form__h1 {
  font-weight: 700;
  font-size: 1.8em;
  padding-top: 0.5em;
  color: #414249f8;
  text-align: center;
  letter-spacing: 0.8px;
}
.form__h1--yellow {
  color: #f8c630;
}
.form__field {
  font-family: inherit;
  font-weight: 400;
  font-size: 1em;
  background: none repeat scroll 0 0 rgba(134, 136, 151, 0.14);
  border-radius: 9px;
  border-style: none;
  padding: 0.5em;
  margin-bottom: 1.5em;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.capitalize {
  text-transform: capitalize;
}
.form textarea {
  height: 17em;
  width: 77vw;
  text-align: start;
}
.form select {
  width: 77vw;
}
.form button {
  text-decoration: none;
  border: none;
  background: #1583d8;
  color: rgb(255, 255, 255);
  border-radius: 9px;
  font-family: inherit;
  font-size: 1.1em;
  font-weight: 600;
  width: 6.5em;
  height: 2.3em;
}
.form__footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.form__footer h3 {
  font-size: 90%;
  font-weight: 800;
  color: #414249b4;
  margin: 2em 1em 1em 1em;
}
