$fontColor: #2f2042

header.main__header
    padding-top: 7.6em
    height: 400px

    h1
        font-family: 'Poppins'
        font-size: 4.6em
        font-weight: 800
        color: $fontColor
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        letter-spacing: 0.0em
        padding-bottom: 0.3em

#nav__yellow-dot
    position: fixed
    margin-left: 5px
    width: 16px
    height: 16px
    background-color: #f3c41a
    border-radius: 50%
    display: inline-block

.homeMenu
    font-family: 'Poppins'
    text-align: center
    margin-top: 0em
    font-weight: 600

    &__link
        font-size: 1.7em
        display: block
        color: #342647
        text-rendering: optimizeLegibility !important
        -webkit-font-smoothing: auto !important
        &--yellow
            color: #f3c41a
            font-size: 1.7em

    a
        width: 7em
        margin: auto

    a:hover
        color: #f3c41a
