.about__article
    position: relative
    background-color: #252b30

    float: right
    top: -185px
    width: 75%
    height: 600px

    -webkit-box-shadow: -6px -4px 21px -3px rgba(53,53,56,0.31)
    -moz-box-shadow: -6px -4px 21px -3px rgba(53,53,56,0.31)
    box-shadow: -6px -4px 21px -3px rgba(53,53,56,0.31)
