*:focus
    outline: 0

a
    text-decoration: none
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar
    display: none

/* Hide scrollbar for IE, Edge and Firefox */
body
    -ms-overflow-style: none
    scrollbar-width: none

section.main__section
    position: absolute
    margin-top: 10em
    margin-left: 14em

article.main__article
    display: flex
    flex-wrap: wrap
    max-width: 900px
    animation: fadeIn 1s ease-in 1 normal forwards

.--circle
    position: fixed
    bottom: -35em
    right: -35em
    width: 70em
    height: 70em
    border-radius: 50%
    background-color: #f3c41a
    animation: slideIn--circle 1.5s cubic-bezier(.18,1.01,.71,.95)

    z-index: -1

@keyframes fadeIn
    0%
        opacity: 0
    100%
        opacity: 1

@keyframes slideIn--circle
    0%
        right: -100em
    100%
