
a
    text-decoration: none
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar
    display: none

/* Hide scrollbar for IE, Edge and Firefox */
body
    -ms-overflow-style: none
    scrollbar-width: none

section.main__section
    margin: -11em auto auto 13.5em

article.main__article
    width: 54vw
    animation: fadeIn 1s ease-in 1 normal forwards

.--circle
    position: relative
    float: right
    margin: -9em -4em
    width: 23em
    height: 23em
    border-radius: 50%
    background-color: #f3c41a
    animation: slideIn--circle 1s cubic-bezier(.18,1.01,.71,.95) 1 normal forwards
    z-index: -1

@keyframes fadeIn
    0%
        opacity: 0
    100%
        opacity: 1

@keyframes slideIn--circle
    0%
        right: -100em
    100%
