#play__wrapper
    height: 100vh
    width: 100vw
    position: fixed
    top: 0
    left: 0
    background-color: #fff
    animation: fadeFromWhite 1.5s
    z-index: -11
#canvas
    position: fixed
    left: 40px
    bottom: 40px
    z-index: -10

#play__header
    display: block
    h1
        font-family: 'Poppins'
        font-size: 2.7em
        font-weight: 700
        color: #2c2e2f
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        line-height: 0.8em

        margin-top: 35px
        margin-left: 65px

#play__yellowDot
    font-size: 1.2em
    font-weight: 700
    color: #f8d619
    letter-spacing: 0.0em

#play__ai
    font-size: 0.9em

.notransition
    -webkit-transition: none !important
    -moz-transition: none !important
    -o-transition: none !important
    transition: none !important

.play__exit
    position: absolute
    top: 0
    right: 0
    margin: 35px 60px
    width: 2.4em
    height: 2.4em

    &::after
        position: absolute
        transform: translateY(1.2em) rotate(45deg)
        content: ''
        width: 2.4em
        height: 0.3em
        background-color: #2c2e2f
    &::before
        position: absolute
        transform: translateY(1.2em) rotate(-45deg)
        content: ''
        width: 2.4em
        height: 0.3em
        background-color: #2c2e2f
    &:hover
        cursor: pointer

@-webkit-keyframes fadeFromWhite
    0% 
    background-color: #e2e2dd
    100% 
    background-color: #fff

@-moz-keyframes fadeFromWhite
    0% 
    background-color: #e2e2dd
    100% 
    background-color: #fff

@-o-keyframes fadeFromWhite
    0% 
    background-color: #e2e2dd
    100% 
    background-color: #fff

@keyframes fadeFromWhite
    0%
        background-color: #e2e2dd
    100%
        background-color: #fff
