#gameScene
    position: fixed
    left: 0
    top: 0

.play__circle
    position: fixed
    float: right
    right: -30em
    bottom: -32em
    width: 1050px
    height: 1050px
    border-radius: 50%
    background-color: #f3c41a
