#dashboard-container {
  height: 27em;
  margin-top: 3em;
  background-color: #fff;
  border-radius: 0.3em;
}
#dash-climbs-status-container {
  background-color: red;
  text-align: center;
  display: inline-block;
}
.dashboard-col-container {
  display: inline-block;
  height: 100%;
  background-color: red;
  vertical-align: top;
}
.dashboard-col-option {
  background-color: green;

}
.venue-list {

}
